* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f1f1;
}
body,
code {
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}
.bot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.bot-container {
  width: 25%;
  height: 70%;
  transition: 0.3s ease-out;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.6);
  animation: fadein 1s;
}
.bot-section {
  width: 100%;
  height: 100%;
  position: relative;
}
.bot-section:before {
  content: " ";
  background-image: url(/wedding-bot/static/media/cover.b5afa7f3.jpg);
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  opacity: 0.6;
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  height: 100%;
  background-size: cover;
  z-index: -1;
  width: 100%;
}
.bot-messages {
  margin: 0;
  overflow-y: scroll;
  padding: 4px 8px;
  position: absolute;
  top: 0;
}
.user-response {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
.bot-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.message {
  padding: 7px 12px 12px;
}
.loading,
.message {
  max-width: 60%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: pre-line;
  position: relative;
  font-size: 11.2pt;
  word-wrap: break-word;
  margin-bottom: 7px;
  box-shadow: 0 0.4px 0.2px rgba(0, 0, 0, 0.13);
}
.loading {
  padding: 0;
}
.loading > img {
  width: 55px;
  height: 45px;
}
.chat-bubble {
  color: #333;
  background-color: #f1f1f1;
  border-top-right-radius: 1.3em;
}
.chat-bubble,
.user-chat-bubble {
  border-bottom-left-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
}
.user-chat-bubble {
  color: #fff;
  background-color: #0084ff;
  border-top-left-radius: 1.3em;
}
.message-image {
  width: 60%;
}
.message-image > img {
  width: 100%;
  border-radius: 1.3em;
  border-top-left-radius: 3px;
  height: 100%;
}
.bot-input-container {
  width: 95%;
  display: flex;
  position: relative;
  margin: auto auto 10px;
}
.input {
  width: 100%;
  background-color: #f1f1f1;
  border: 0;
  color: #000;
  border-radius: 50px;
  box-shadow: 1px 1px 4px grey;
  font-size: 16px;
  height: 35px;
  padding: 8px 48px 8px 20px;
}
.input-send {
  position: absolute;
  right: 0;
  padding: 10px 20px;
  color: #2f4f4f;
  font-size: 30px !important;
}
.video-container {
  width: 100%;
  height: 230px;
  margin-bottom: 24px;
}
.video-container > video {
  border-top-right-radius: 1.3em;
  border-bottom-left-radius: 1.3em;
  border-bottom-right-radius: 1.3em;
  height: 87%;
  width: 86%;
}
.button {
  color: #fff !important;
  background-color: #0084ff !important;
  border-top-right-radius: 1.3em !important;
  border-bottom-left-radius: 1.3em !important;
  border-top-left-radius: 1.3em !important;
  border-bottom-right-radius: 1.3em !important;
  padding: 6px 12px !important;
  box-shadow: 1px 1px 4px grey !important;
  border-width: 0 !important;
  width: 100%;
  margin-bottom: 5px !important;
  cursor: pointer !important;
  text-transform: inherit !important;
  font-size: 16px !important;
  letter-spacing: 0.6px !important;
}
.bot-button-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
}
@media only screen and (max-width: 1025px) {
  .bot-container {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .bot-container {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=main.98beda4b.chunk.css.map */
